@charset "utf-8";

.Content
{

}
.Content .Flexbox
{
	margin:auto;
	display:flex;
	flex-wrap: wrap;
}
.infoPanel
{
	background-size:100%;
	background-repeat: no-repeat;
	width:30%;
	min-width: 300px;
	margin: auto;
}
.infoText
{
	text-align: center;
	padding-top:10vw;
	color:white;
	font-size:2vw;
	text-shadow: 1px 1px #202020;
}

.infoPanel:hover
{
	
}

#Researchers
{
	background-image:url("images/for_researchers.png");
}
#PtCg
{
	background-image:url("images/for_ptcg.png");
}
#Clinicians
{
	background-image:url("images/for_clinicians.png");
}

@media (max-width: 490px)
{
	.Content div
	{
		margin-bottom:20px;
	}
	.infoPanel
	{
		background-size:100%;
		border-radius: 30px;
		height:200px;
	}
	#Researchers
	{
		background-position: 0% 40%;
	}
	#PtCg
	{
		background-position: 0% 20%;
	}
	#Clinicians
	{
		background-position: 0% 10%;
	}
}

@media (min-width: 491px)
{
	.infoPanel
	{
		height:43.6vw;
	}
}