@charset "utf-8";

.Ref .Headshot
{
	border-radius:50%;
	max-width: 100px;	
	border-width:1px;
	border-color:black;
	border-style:solid;
}
p
{
	text-align: justify;
}

.References
{
	list-style-type: none;
	padding-left:0;
}

.Hide_
{
	display: none;
	visibility: hidden;
}

@media (min-width:300px) and (max-width: 1140px)
{
	.Image
	{
		text-align: center;
	}
	.Image img
	{
		width:50%;
		height:auto;
		border-radius:40px;
	}
	.Headshot img
	{
		width:200px;
		border-radius:20px;
	}
	.Content
	{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", "sans-serif";
		margin-right:10px;
		margin-left:10px;
	}
	.Ref
	{
		padding-top:3vw;
		padding-bottom:3vw;
	}
	.Ref .Headshot
	{
		width:15%;
		height:auto;
		float: left;
	}
	.Headshot img
	{
		padding-top:100%;
		overflow: hidden;
	}
	.Ref .Info 
	{
		/* float:right; */
		padding-top:5px;
		width:80%;
	}

	.Ref .Info h5
	{
		font-size:12pt;
		margin-bottom: 5px;
	}

	.Ref .Info p
	{
		font-size: 2.5vw;
	}
	a .Ref:active,.Ref:hover
	{
		background:#f5f5f5;
	}
	p
	{
		font-size:3vw;
	}
	li
	{
		margin-bottom: 8px;
	}

}



@media (min-width:1145px)
{
	h2
	{
		font-size:30pt;
	}
	.Content
	{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", "sans-serif";
		margin-right:10px;
		margin-left:10px;
		width:80%;
		margin:auto;
    }
    
	.Ref
	{
		padding-top:5px;
		display:block;
		margin-bottom: 10px;
	}
	.Ref .Headshot
	{
		width:80px;
		height:auto;
		float: left;
	}

	/* .Ref .Info 
	{
		float: left;
		margin-left:10px;
		padding-top:10px;
	} */
	
	h3
	{
		padding-left:1vw;
		font-size:20pt;
		background-color: #F4F4F4;
		border-bottom: 1px  solid  #101010 ;
		cursor: pointer;
	}

	.Ref .Info h5
	{
		font-size:15pt;
		margin-bottom: 5px;
	}

	a .Ref:hover
	{
		background:#f5f5f5;
	}

	.Ref img
	{
		width:500px;
		float:right;
		border-radius:60px;
	}

	.Copy
	{
		float:left;
		width:65%;
	}
	.Image
	{
		float:right;
		width:33%;
		text-align: center;
	}
	.Image img
	{
		width:80%;
		height:auto;
		border-radius:60px;
	}
	
}

