@charset "utf-8";

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

body
{
	font-family: "Aldrich";
	margin:0;
	padding-bottom: 10vw;
}
h1
{
	margin:0;
}
h2
{
	margin:0;
}
h3
{
	margin:0;
}
h4
{
	margin:0;
}
h5
{
	margin:0;
}
p
{
	margin:0;
}

.Copy{
	padding-bottom: 2vw;
}


.Header
{
	background-color: #141E3C;
    color: white;
	height:100px;
}

.Logo {
	float: left;
}
.Navigation
{
	margin:0;
	float:right;
}
.Logo img
{
	width: 350px;
}
.Navigation a:hover
	{
		color:#E57200;
		cursor:pointer;
		transition-duration:300ms;
	}

@media (max-width: 490px){
	.Logo img
	{
		width: 250px;
	}
		img
	{
		margin-bottom: 10px;
	}
		.Header {
		text-align:center;
	}
	.Navigation {
		padding: 5;
		text-align: center;
	}
	.Navigation a
	{
		padding-right:5px;
		font-size: 3.5vw;
	}
	.Navigation
	{
		float:none;
	}
	.Logo
	{
		float: none;
	}
	nav
	{
		float:none;
	}
}


@media (max-width: 1144px) and (min-width:490px)
{
	.Navigation a 
	{
		font-size:13pt;
		padding-right:20px;
	}
	.Navigation
	{
		padding-top:7px;
		float: none;
	}
	.Logo
	{
		float: none;
	}
	.Header
	{
		text-align: center;
		height: 130px;
	}

}

@media (min-width:1145px)
{
	.Logo img
	{
		margin-left: 50px;
		margin-top: 5px;
	}
	.Navigation a
	{
		padding-right:15px;
		font-size:20pt;
	}
	.Navigation
	{
		margin-right:50px;
		margin-top:30px;
	}
 	
}
