---
title: For Clinicians
---

<!DOCTYPE html><html lang="en-US">
{% include 'head' %}

<body>
{% include 'navbar' %}

<div id="content">
	<h2>{{ title }}</h2>

	<h4>Questions or Concerns?</h4>
	<p>Contact our Clinical Research Coordinator at <a href="tel:434-459-1628">(434) 459-1628</a></p>

	<hr>

	<div class="big-links">
		<a href="/files/BESI-C_HCP_Recruitment_Flyer.pdf"><h5>Participant Eligibility Information</h5></a>
		<a href="/files/HCP_study_introduction_script.pdf"><h5>Study Introduction Script</h5></a>
		<a href="/files/NIH_R01_Written_Consent_21017.pdf"><h5>Patient/Caregiver Consent Form</h5></a>
	</div>

	<hr>

	{% include 'info' %}
</div>

</body>
</html>
