---
title: Findings
---

<!DOCTYPE html><html lang="en-US">
{% include 'head' %}

<script>
	function Accordion(id) {
		var elem = document.getElementById(id);
		var head = document.getElementById(id + "_header");
		if (elem.style.display == "inline") {
			//console.log("some");
			elem.style.display = "none";
			head.innerHTML = head.innerHTML.replace("fas fa-angle-down","fas fa-angle-right")
		} else {
			//console.log("none");
			elem.style.display = "inline";
			head.innerHTML = head.innerHTML.replace("fas fa-angle-right", "fas fa-angle-down")
		}
	}
</script>

<body>
{% include 'navbar' %}

<div id="content">
	<h2>Dissemination of Findings</h2>

	<div class="collapse-header" id="publications_header" onclick="Accordion('publications')">
		<i class="fas fa-angle-down"></i>
		Publications
	</div>
	<div class="collapse" id="publications" style="display:inline;">
		<a href="https://www.researchprotocols.org/2019/12/e16178"><h5>Leveraging Smart Health Technology to Empower Patients and Family Caregivers in Managing Cancer Pain: Protocol for a Feasibility Study</h5></a>
		<p>LeBaron V, Hayes J, Gordon K, Alam R, Homdee N, Martinez Y, Ogunjirin E, Thomas T, Jones R, Blackhall L, Lach J. Leveraging Smart Health Technology to Empower Patients and Family Caregivers in Managing Cancer Pain: Protocol for a Feasibility Study.  JMIR Res Protoc 2019;8(12):e16178. DOI: 10.2196/16178. PMID: 31815679</p>

		<a href="https://formative.jmir.org/2020/8/e20836/"><h5>Understanding the Experience of Cancer Pain From the Perspective of Patients and Family Caregivers to Inform Design of an In-Home Smart Health System: Multimethod Approach</h5></a>
		<p>LeBaron, V., Bennett, R., Blackhall, L., Alam, R., Gordon, K., Hayes, J., Homdee, N., Martinez, Y, Ogunjirin, E., Jones, R., Thomas, T. &amp; Lach, J. (2020). Understanding the experience of cancer pain management at home from the perspective of patients and family caregivers to inform design of an in-home smart health sensing system. JMIR (Journal of Medical Internet Research) Formative Research, 4(8):e20836. PMID: 32712581</p>
	</div>


	<div class="collapse-header"  id="presentations_header" onclick="Accordion('presentations')">
		<i class="fas fa-angle-right"></i>
		Scientific Presentations
	</div>
	<div class="collapse" id="presentations">
		<p>Note: *podium; #poster; ^e-poster discussion </p>

		<h5>Using smart health technology to explore environmental correlates of breakthrough cancer pain</h5>
		<p>^LeBaron, V., Homdee, N., Martinez, Y., Patel, N., Ogunjirin, E., &amp; Lach, J.  Using smart health technology to explore environmental correlates of breakthrough cancer pain. Oncology Nurses Society (ONS) 47th Annual Congress; Anaheim, CA (May 2022).</p>

		<h5>Making meaning of 'messy data;:  Creating clinically useful visualizations to represent the experience of cancer pain in the home context</h5>
		<p>#LeBaron, V., Homdee, N., Patel, N., El-Jaroudi, N., Martinez, Y., Ogunjirun, E., &amp; Lach, J.  Making meaning of 'messy data':  Creating clinically useful visualizations to represent the experience of cancer pain in the home context. American Academy of Hospice &amp; Palliative Medicine State of the Science; [virtual meeting due to COVID-19]. (February 2022).</p>

		<h5>Promoting quality cancer pain care using sensor technology</h5>
		<p>^LeBaron, V., Bennett, R., Homdee, N., Patel, N., Blackhall, L., Jones, R. &amp; Lach, J.  Promoting quality cancer pain care using sensor technology.  American Academy of Nursing (AAN) Health Policy Conference; Washington, D.C. (October 2021).</p>

		<h5>Using smart health to monitor cancer pain</h5>
		<p>*LeBaron, V., Alam, R., Blackhall, L., Hayes, J., Homdee, N., Jones, R., Lichti, K., Martinez, Y., Mohammadi, S., Novak, K., Ogunijirin, E., Patrick, T., Thomas, T.  &amp; Lach, J. Using smart health to monitor cancer pain.  Multinational Association of Supportive Care in Cancer (MASCC); [virtual meeting due to COVID-19]
(June 2021).</p>

		<h5>A smart health sensing system to support patients and family caregivers in managing cancer pain: Results from pilot testing</h5>
		<p>^LeBaron, V., Blackhall, L., Jones, R., &amp; Lach. J.  A smart health sensing system to support patients and family caregivers in managing cancer pain: Results from pilot testing. ONS/NCI/NINR Symptom Science Colloquium; Virtual Conference. (February 2021).</p>

		<h5>Capturing the complexity of cancer pain in the home context:  Pilot testing of the Behavioral and Environmental Sensing and Intervention for Cancer (BESI-C) smart health system</h5>
		<p>*LeBaron, V., Alam, R., Blackhall, L., Hayes, J., Homdee, N., Jones, R., Lichti, K., Martinez, Y., Mohammadi, S., Novak, K., Ogunijirin, E., Patrick, T., Thomas, T.  &amp; Lach, J.  Capturing the complexity of cancer pain in the home context:  Pilot testing of the Behavioral and Environmental Sensing and Intervention for Cancer (BESI-C) smart health system.  23rd International Congress on Palliative Care; Montreal, Canada (October 2020). <i>[note: accepted, but conference cancelled due to COVID-19 pandemic.]</i></p>

		<h5>Using smart health to characterize the complexity of cancer pain in the home setting: Initial results of feasibility and acceptability testing</h5>
		<p>*LeBaron, V., Alam, R., Blackhall, L., Hayes, J., Homdee, N., Jones, R., Lichti, K., Martinez, Y., Mohammadi, S., Novak, K., Ogunijirin, E., Patrick, T., Thomas, T.  &amp; Lach, J. Using smart health to characterize the complexity of cancer pain in the home setting:  Initial results of feasibility and acceptability testing.  Multinational Association of Supportive Care in Cancer (MASCC); Seville, Spain (June 2020). <i>[note:  accepted, but conference cancelled due to COVID-19 pandemic.]</i></p>

		<a href="https://higherlogicdownload.s3.amazonaws.com/AANNET/12ebde25-5178-43b2-a724-5f650d708880/UploadedImages/2019_On-Site_Program_CANS_FINAL1.pdf"><h5>Creating a Sensor System to Improve Cancer Pain Management</h5></a>
		<p>*LeBaron, V., Blackhall, L., Jones, R., Gordon, K., Alam, R., Hayes, J., Nutta, H., &amp; Lach, J. Creating a Sensor System to Improve Cancer Pain Management. Council to Advance Nursing Science (CANS) Advanced Methods Conference; Washington, D.C. (October 2019).</p>

		<a href="https://www.morressier.com/article/exploring-feasibility-acceptability-homebased-smart-health-sensing-system-improve-cancer-pain-management-patients-caregivers/5cdbe0a9618793e647b126ee"><h5>Exploring the feasibility and acceptability of a home-based, smart health sensing system to improve cancer pain management for patients and caregivers</h5></a>
		<p>^LeBaron, V., Blackhall, L., Jones, R., Alam, R., Gordon, K., Hayes, J., Nutta, H., &amp; Lach, J. Exploring the feasibility and acceptability of a home-based, smart health sensing system to improve cancer pain management for patients and caregivers. Multinational Association of Supportive Care in Cancer/MASCC Annual Meeting; San Francisco, CA (June 2019).</p>

		<h5>BESI-C: Behavioral and Environmental Sensing and Intervention for Cancer</h5>
		<p>#^Hayes, J., LeBaron, V., Alam, R., Homdee, N., Gordon, K. &amp; Lach J. BESI-C: Behavioral and Environmental Sensing and Intervention for Cancer. IEEE International Conference on Biomedical and Health Informatics (BHI'19); Chicago, IL (May 2019).</p>

		<h5>The Best of Both Worlds:  How Clinical Nurse Leader (CNL) Students Can Support  Engineering and Nursing Research Collaborations</h5>
		<p>#McCole, K &amp; LeBaron, V.  The Best of Both Worlds:  How Clinical Nurse Leader (CNL) Students Can Support  Engineering and Nursing Research Collaborations. Clinical Nurse Leader Summit, Tampa, FL. (February 2019).</p>

		<a href="https://engineering.virginia.edu/events/2018-connections-smart-health-workshop"><h5>Leveraging wireless sensing to empower patients and family caregivers in the safe and effective management of cancer pain</h5></a>
		<p>*LeBaron, V. &amp; Lach, J.  (2018).  Leveraging wireless sensing to empower patients and family caregivers in the safe and effective management of cancer pain.  National Science Foundation (NSF) Connections in Smart Health Workshop; Arlington, VA (September 2018).</p>

		<a href="https://www.ninr.nih.gov/sites/files/docs/2018-NINR-Precision-Health-symposium-abstracts-508c.pdf"><h5>Leveraging mHealth and wireless sensing to empower patients and family caregivers in the safe and effective management of cancer pain</h5></a>
		<p>#LeBaron, V., Blackhall, L., Lach, J.  Leveraging mHealth and wireless sensing to empower patients and family caregivers in the safe and effective management of cancer pain. Nursing Researchers (NINR) 2018 boot camp Precision Health: Smart Technologies, Smart Health; Bethesda, MD (July 2018).</p>

	</div>


	<div class="collapse-header" id="related_header" onclick="Accordion('related')">
		<i class="fas fa-angle-right"></i>
		Related Publications
	</div>
	<div class="collapse" id="related">
		<a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8877908&isnumber=8877893"><h5>Agitation Monitoring and Prevention System for Dementia Caregiver Empowerment</h5></a>
		<p>N. Homdee, R. Alam, J.A. Hayes, T. Hamid, J. Park, S. Wolfe, H. Goins, N. Fyffe, T. Newbold, T. Smith-Jackson, A. Bankole, M.S. Anderson, J. Lach, "Agitation Monitoring and Prevention System for Dementia Caregiver Empowerment," in Computer, vol. 52, no. 11, pp. 30-39, Nov. 2019doi: 10.1109/MC.2019.2933192</p>
	</div>
</div>

</body>
</html>
