---
title: For Patients and Caregivers
---

<!DOCTYPE html><html lang="en-US">
{% include 'head' %}

<body>
{% include 'navbar' %}

<div id="content">
	<h2>{{ title }}</h2>

	<h4>Questions or Concerns?</h4>
	<p><a href="/files/Recruitment_Flyer.pdf">General Information Flyer</a></p>

	<p>Contact our Clinical Research Coordinator at <a href="tel:434-459-1628">(434) 459-1628</a></p>

	<hr>

	{% include 'info' %}
</div>

</body>
</html>
