/* Import Fonts */
@import url("https://rsms.me/inter/inter.css");
@font-face {
    font-family: Aldrich;
    src: url("/style/Aldrich-Regular.ttf");
}

/* Prevent Firefox selected button/link outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}
/* Prevent iOS input styling */
input.text, input[type='text'], input[type='button'], input[type='submit'], .input-checkbox { -webkit-appearance:none; border-radius:0; }


body {
	margin:0;
	padding:0;
	font-family:"Inter", sans-serif;
	background:white;
	color:black;
}
a {
	color:inherit;
	text-decoration:none;
}
img { max-width:100% }

.u-center {
	text-align:center;
}
.u-nowrap {
	white-space:nowrap;
}

/* --- Header Bar --- */
#navbar {
	display:block;
	top:-1rem;
	background:#141E3C;
	color:white;
	font-family:"Aldrich";
}
#nav-links a {
	display:inline-block;
	line-height:2rem;
}
#nav-links a:hover {
	color:#E57200;
}

/* --- Main Content --- */
h1, h2 { margin-bottom:0 }
h3, h4, h5, h6 {
	margin-top:2rem;
	margin-bottom:-1rem;
}
h1 { font-size:2.8rem }
h2 { font-size:2.4rem }
h3 { font-size:2rem }
h4 { font-size:1.6rem }
h5 { font-size:1.4rem }
h6 { font-size:inherit }
p a { text-decoration:underline }
hr {
	width:95%;
	margin:2rem 0;
	border:2px solid black;
	border-radius:2px;
}
img.page-img {
	border-radius:1rem;
}
.button {
	position:relative;
	text-align:center;
	display:block;
	width:12rem;
	margin:2rem auto;
	padding:1.2rem 2rem;
	border:none;
	border-radius:1rem;
	outline:none;
	font-size:1.4rem;
	background:#404040;
	color:white;
}
.button:hover {
	background:#E57200;
}
/* About Us */
.person {
	display:block;
	min-height:6rem;
	width:40rem;
	max-width:90%;
	margin:1rem 0;
}
.person img {
	position:relative;
	float:left;
	margin:0.4rem 1rem;
	width:5rem;
	border-radius:2.5rem;
	border:1px solid black;
}
.person h5 {
	padding:0.4rem 0 0;
}
.person p {
	display:inline-block;
	width:calc(100% - 8rem);
}
a div.person:hover {
	background:#f5f5f5;
	border-radius:1.5rem;
}

/* News */
.article-grid {
	display:grid;
	margin-bottom:1.4rem;
}
.article-link {
	width:calc(90% - 2rem);
	margin:1rem 5% 0;
	padding:1rem 1rem;
	font-size:1.2rem;
}
.article-link h5, .article-link p {
	margin:0;
}
.article-link img {
	width:99%;
	margin:0.2rem 0 0.4rem;
	border-radius:1rem;
}
.article-link:hover {
	background:#f5f5f5;
	border-radius:1rem;
}

/* Contact Us */
form {
	position:relative;
	display:block;
	width:40rem;
	max-width:100%;
	margin:2rem auto;
}
form label {
	display:block;
	margin-top:1rem;
	padding:0 5%;
	font-weight:bold;
	text-align:left;
}
form input[type=text], form textarea {
	width:90%;
	padding:0.4rem;
	margin:0 calc(5% - 0.4rem);
	border:1px solid black;
	border-radius:0.4rem;
}
form input[type=radio] {
	text-align:left;
	margin-left:5%;
}

/* Learn More */
.info-panel {
	border-radius:1rem;
	text-align:center;
	color:white;
	padding:2rem;
	background-position:center;
	background-repeat:no-repeat;
	background-size:fill;
	background-clip:padding-box;
}
.info-panel:hover {
	opacity:0.9;
	background-color:black;
}
.info-panel p {
	font-size:1.6rem;
	margin-top:2rem;
}
#for-researchers {
	background-image:url("/images/learn_more/for_researchers.jpg");
}
#for-patients {
	background-image:url("/images/learn_more/for_patients.jpg");
}
#for-clinicians {
	background-image:url("/images/learn_more/for_clinicians.jpg");
}

/* Dissemination of Findings */
.collapse-header {
	display:block;
	height:2.4rem;
	padding:0.3rem 0.4rem;
	margin:2rem 0 -1rem;
	border-bottom:1px solid black;
	font-size:1.8rem;
	font-weight:bold;
}
.collapse-header i {
	display:inline-block;
	width:1.2rem;
}
.collapse {
	display:none;
}
.collapse a h5:hover {
	text-decoration:underline;
}

/* Clinicians & Dyads */
.frame {
	display:block;
	margin:1rem auto 1rem;
	height:25rem;
	width:40rem;
	max-width:100%;
	overflow:none;
}
.frame iframe {
	height:100%;
	width:100%;
}
.big-links {
	margin-bottom:3rem;
}
.big-links a {
	text-decoration:underline;
}
.file-button {
	position:relative;
	text-align:center;
	display:block;
	width:20rem;
	margin:2rem auto;
	padding:1.2rem 2rem;
	border:none;
	border-radius:1rem;
	outline:none;
	font-size:1.4rem;
	background:#404040;
	color:white;
}
.file-button:hover {
	background:#E57200;
}

/* Height >= Width :Mobile */
@media (max-aspect-ratio:1/1), (aspect-ratio:1/1) {
	/* Header Bar */
	#navbar {
		text-align:center;
	}
	#navbar img {
		height:3.4rem;
	}
	#navbar #nav-links {
		display:block;
		padding:0.6rem 1rem;
		font-size:1rem;
	}
	#navbar #nav-links a {
		padding:0 0.2rem;
		margin:0;
	}
	#navbar #nav-links .mobile-hide {
		display:none;
	}

	/* Main Content */
	#content {
		width:90%;
		padding:2rem 5%;
		font-size:1rem;
	}
	h1, h2 {
		margin-top:0;
	}
	img.page-img {
		float:center;
		margin:0 10%;
		width:80%;
		border-radius:1rem;
	}
	.article-grid {
		grid-template-columns:100%;
	}
	.info-panel {
		display:block;
		width:100%;
		height:14rem;
		margin:0 0 1.8rem;
		padding:2rem 0;
		background-position:50% 30%;
	}
	.m-center { text-align:center }
	.m-hide { display:none }
}
/* Height < Width :Desktop */
@media (min-aspect-ratio:1/1) {
	#navbar {
		width:100%;
		min-height:6.5rem;
		display:inline-block;
	}
	#navbar img {
		height:5rem;
		margin-left:2rem;
		margin-top:0.5rem;
	}
	#navbar #nav-links {
		position:relative;
		float:right;
		padding:1.6rem 1.2rem;
		font-size:1.8rem;
	}
	#navbar #nav-links a {
		padding:0.5rem 0.4rem 0.5rem;
	}

	/* Main Content */
	#content {
		width:80%;
		padding:2rem 10%;
		font-size:1.2rem;
	}
	h1, h2 {
		margin-top:2rem;
	}
	img.page-img {
		position:relative;
		float:right;
		top:-1rem;
		margin:1rem;
		width:30%;
	}
	.article-grid {
		grid-template-columns:50% 50%;
	}
	.info-panel {
		position:absolute;
		display:inline-block;
		top:8rem;
		width:30vw;
		max-height:12vw;
		margin-left:4vw;
		bottom:2rem;
		padding:15vw 0;
	}
	#for-patients { left:-2vw }
	#for-clinicians { left:31vw }
	#for-researchers { right:2vw }
	.m-show { display:none }
}
