---
title: Contact Us
---

<!DOCTYPE html><html lang="en-US">
{% include 'head' %}

<body>
{% include 'navbar' %}

<div id="content">
	<h2 class="u-center">{{ title }}</h2>
	<p class="u-center">Thank you for your interest in BESI-C.  We welcome your questions and feedback. <br>You may contact us by filling the form below, and a member of our team will be in touch.</p>

	<form name="ContactFrom" action="https://formspree.io/f/xgeroqeq" method="POST">
		<label for="Name">Name</label>
		<input name="Name" type="text" placeholder="John Doe" required>

		<label for="E-mail">E-mail</label>
		<input name="E-mail" type="text" placeholder="your@email.com" required>

		<label for="Message">Message</label>
		<textarea name="Message" placeholder="Your message here..." rows="7" required>
		</textarea>

		<label>May we contact you?</label>
		<input type="radio" name="Can we contact you?" value="Yes" required>Yes
		<input type="radio" name="Can we contact you?" value="No" required>No

		<button type="submit" class="button">Submit</button>
	</form>
</div>

</body>
</html>
