---
title: News
---

<!DOCTYPE html><html lang="en-US">
{% include 'head' %}

<body>
{% include 'navbar' %}

<div id="content">
	<h2 class="u-center">BESI-C In The News</h2>

	<div class="article-grid">
		<a href="https://news.virginia.edu/content/uva-researchers-develop-new-technology-manage-cancer-pain" class="article-link">
			<img src="https://news.virginia.edu/sites/default/files/article_image/wireless_pain_management_da_header_3-2.jpg">
			<h5>UVA Today</h5>
			<p>UVA Researchers Develop New Technology to Manage Cancer Pain</p>
		</a>

		<a href="https://news.virginia.edu/content/engineers-caregivers-innovations-help-patients-and-advance-medicine" class="article-link">
			<img src="https://news.virginia.edu/sites/default/files/article_image/jeffery_holmes_julie_radlinski_mark_sochor_tc_header_3-2.jpg">
			<h5>UVA Today</h5>
			<p>Engineers + Caregivers=Innovations That Help Patients and Advance Medicine</p>
		</a>

		<a href="https://engineering.virginia.edu/news/2018/01/uvas-center-engineering-medicine-aims-jumpstart-medical-innovation" class="article-link">
			<img src="/images/stock_watch.jpg">
			<h5>UVA Engineering</h5>
			<p>Initiative Encourages Collaborations Between Engineers and Clinicians</p>
		</a>

		<a href="https://news.virginia.edu/content/pain-personal-relief-cancer-pain-should-be-too" class="article-link">
			<img src="https://news.virginia.edu/sites/default/files/article_image/virginia_lebaron_da_header_0.jpg">
			<h5>UVA Engineering</h5>
			<p>Pain is Personal; Relief From Cancer Pain Should Be, Too</p>
		</a>

		<a href="https://www.wvtf.org/post/uva-studies-pain-help-patients-and-caregivers#stream/0" class="article-link">
			<img src="/images/stock_relay.jpg">
			<h5>NPR/WVTP</h5>
			<p>UVA Studies Pain to Help Patients and Caregivers</p>
		</a>
	</div>
</div>

</body>
</html>
