{% extends 'base.html' %}
{% block title %}For Patients/Caregivers | BESI-C{% endblock %}

{% block content %}
	<h2>For Patients and Caregivers</h2>

	<h4>Questions or Concerns?</h4>
	<p>Contact our Clinical Research Coordinator at <a href="tel:434-459-1628">(434) 459-1628</a></p>

	<hr>

	<h4>Overview & General BESI-C Information</h4>
	<p><i>Coming Soon</i></p>

	<h4>Set-Up Instructions</h4>
	<p><a href="/files/BESI-C_Set_Up_Infographic.pdf">Written Instructions</a></p>
	<div class="frame">
		<iframe width="978" height="550" src="https://www.youtube.com/embed/HJHyL4LeyxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h4>Smart Watch Instructions</h4>
	<p><a href="/files/BESI-C_Watch_Instructions.pdf">Written Instructions</a></p>
	<div class="frame">
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/uELFuPIb2wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/0O3SSFcKlHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/yB6bpF0EV-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h4>Daily Logs</h4>
	<p><a href="/files/Patient_Daily_Log.pdf">Patient Daily Log</a></p>
	<p><a href="/files/Caregiver_Daily_Log.pdf">Caregiver Daily Log</a></p>

	<h4>Removal & Return Instructions</h4>
	<p><a href="/files/BESI-C_Removal_and_Return_Infographic.pdf">Written Instructions</a></p>
	<div class="frame">
		<iframe width="978" height="550" src="https://www.youtube.com/embed/7Q6T87mT0xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h4>Survey Links</h4>
	<p><i>Coming Soon</i></p>
{% endblock %}
