{% extends 'base.html' %}

{% block content %}
	<img src="/images/system.jpg" alt="Equipment Box" class="page-img"/>

	<h1 class="m-center">What is BESI-C?</h1>
	<p><b>B</b>ehavioral and <b>E</b>nvironmental <b>S</b>ensing and <b>I</b>ntervention for <b>C</b>ancer (BESI-C) is a Smart Health sensing system created by engineers and clinicians at the University of Virginia designed to monitor, predict and manage cancer pain in the home setting. Managing cancer pain at home can be stressful and difficult; BESI-C offers a user-friendly and non-invasive solution.</p>
	<p>BESI-C consists of 2 primary components: 1) smart watches programmed with a custom application worn by both patients and their primary family caregiver that provides a platform to mark and describe pain events; 2) environmental room sensors that continuously monitor factors in the home, such as movement, light, noise, temperature and barometric pressure.</p>
	<p>BESI-C is deployed in homes for about 2 weeks and integrates environmental and smart watch data to paint a picture of the behavior and health of individuals and dyads (patient/caregiver pairs). For example, we can begin to see patterns of when a patient may experience pain, or when a caregiver is likely to become the most distressed.</p>
	<p>BESI-C is currently in the research phase of development to understand how to best describe the experience of cancer pain from the perspective of patients and family caregivers.  We are also exploring how to best share collected data with patients, family caregivers and health care providers. If successful, BESI-C offers a powerful approach to help support patients, family caregivers and healthcare providers to manage difficult symptoms in the home setting by intervening early and offering personalized management strategies.</p>


	<a href="/learn_more" class="button">
		Learn More
	</a>
{% endblock %}
