{% extends 'base.html' %}
{% block title %}News | BESI-C{% endblock %}

{% block content %}
	<img src="/images/news.jpg" alt="Team Photo" class="page-img"/>
	<h2>BESI-C In The News</h2>

	<a href="https://news.virginia.edu/content/uva-researchers-develop-new-technology-manage-cancer-pain"><div class="article-link">
		<h5>UVA Today <i class="fas fa-link"></i></h5>
		<p>UVA Researchers Develop New Technology to Manage Cancer Pain</p>
	</div></a>

	<a href=" https://news.virginia.edu/content/engineers-caregivers-innovations-help-patients-and-advance-medicine"><div class="article-link">
		<h5>UVA Today <i class="fas fa-link"></i></h5>
		<p>Engineers + Caregivers=Innovations That Help Patients and Advance Medicine</p>
	</div></a>

	<a href="https://engineering.virginia.edu/news/2018/01/uvas-center-engineering-medicine-aims-jumpstart-medical-innovation"><div class="article-link">
		<h5>UVA Engineering <i class="fas fa-link"></i></h5>
		<p>Initiative Encourages Collaborations Between Engineers and Clinicians</p>
	</div></a>

	<a href="https://news.virginia.edu/content/pain-personal-relief-cancer-pain-should-be-too"><div class="article-link">
		<h5>UVA Engineering <i class="fas fa-link"></i></h5>
		<p>Pain is Personal; Relief From Cancer Pain Should Be, Too</p>
	</div></a>
{% endblock %}
