<head>
	{% if title == "BESI-C" %}
		<title>{{ title }}</title>
	{% else %}
		<title>{{ title }} | BESI-C</title>
	{% endif %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<link rel="icon" href="/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/style/general.css">
	{% comment %}{% include "styles.css" ignore missing %}{% endcomment %}

	<script src="https://kit.fontawesome.com/e54c1740d9.js" crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155032258-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-155032258-1');
	</script>
</head>
