<h2>Overview &amp; General BESI-C Information</h2>
	<br>
	<div class="frame">
		<iframe width="1024" height="576" src="https://www.youtube.com/embed/I3VdSwc5Q9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h2>Set-Up Instructions</h2>
	<a class="file-button" href="/files/BESI-C_Set_Up_Infographic.pdf">Written Instructions</a>
	<div class="frame">
		<iframe width="1024" height="576" src="https://www.youtube.com/embed/4hkHcPuqDkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h2>Smart Watch Instructions</h2>
	<p><a href="/files/BESI-C_Watch_Instructions.pdf">Written Instructions</a></p>
	<div class="frame">
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/uELFuPIb2wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="frame">
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/0O3SSFcKlHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="frame">
		<iframe width="1088" height="612" src="https://www.youtube.com/embed/yB6bpF0EV-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h2>Daily Logs</h2>
	<a class="file-button" href="/files/Patient_Daily_Log.pdf">Patient Daily Log</a>
	<a class="file-button" href="/files/Caregiver_Daily_Log.pdf">Caregiver Daily Log</a>

	<h2>Removal & Return Instructions</h2>
	<a class="file-button" href="/files/BESI-C_Removal_and_Return_Infographic.pdf">Written Instructions</a>
	<div class="frame">
		<iframe width="1024" height="576" src="https://www.youtube.com/embed/pNiZgvZZnfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="frame">
		<iframe width="1024" height="576" src="https://www.youtube.com/embed/Iw3ETnfowE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
