<div id="navbar">
	<a href="/">
		<img src="/images/logo.png" alt="Logo"/>
	</a>
	<nav id="nav-links">
		<a href="/" class="mobile-hide">Home</a>
		<a href="/about_us">About Us</a>
		<a href="/contact_us">Contact</a>
		<a href="/news">News</a>
		<a href="/learn_more">Learn More</a>
	</nav>
</div>
